<div class="row">
    <div class="col-md-8 ">
        <form role="form" ng-submit="creatNameOfPlaylist()">
            <div class="form-group">
                <label for="exampleInputEmail1">Party Name</label>
                <input type="text" class="form-control" id="partyName" placeholder="Party Name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Your Mood</label>
                <input type="text" class="form-control" id="yourMood" placeholder="Happy" required>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Add Songs to Get Started</button>
        </form>
    </div>
</div>