<div class="row">
    <div class="col-sm-8 col-sm-offset-2" style="text-align: center;">
        <h2 class="font-thin m-b ng-scope">
            <i class="icon-plus icon text-success"></i>Create a New Party
        </h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Just some basic information to get your party started...</header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Party Name</label>
                        <input type="text" class="form-control" placeholder="John's Party" ng-model="formData.name" required>
                    </div>
                    <div class="form-group">
                        <label>NickName</label>
                        <input type="text" class="form-control" placeholder="Boys Night" ng-model="formData.nickName" required>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Your Current Mood</label>
                        <div class="col-sm-9">
                            <select name="account" class="form-control m-b" ng-model="formData.mood">
                                <option value="Happy">Happy</option>
                                <option value="Relaxed">Relaxed</option>
                                <option value="Pumped">Pumped</option>
                                <option value="Sad">Sad</option>
                            </select>
                        </div>
                    </div>

                    <a href="/"><button  class="btn btn-lg btn-warning">Cancel</button></a>
                    <button  class="btn btn-lg btn-success pull-right" ng-disabled="!formData.name||!formData.nickName" ng-click="createParty()">Create Party!</button>
                </form>
            </div>
         </section>
</div>
</div>
