<div class="row">
<div class="row">
    <div class="col-md-4"><a href="/createHouseParty"><button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;"><span class="glyphicon glyphicon-plus-sign"></span>Create House Party</button></a> </div>
    <div class="col-md-4"><button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;"><span class="glyphicon glyphicon-fire"></span> Create Cyber Party</button></div>
    <div class="col-md-4"><a href="/joinParty"><button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;" ><span class="glyphicon glyphicon-music"></span>Join Party</button></a> </div>


</div>
           <br>
        <div class="row">
            <div class="col-md-4"><a href="/myParty"><button type="button" class="btn btn-primary btn-lg btn-block" style="height: 120px;"><span class="glyphicon glyphicon-music"></span>Resume Party</button></a></div>


        </div>

</div>