<div class="row">
    <div class="col-sm-8">
        <header class="header" >
            <p>Party Name:<span style="color: #ff0000;font-size: 30px;">{{partyInformation.name}}</span> </p>
        </header>
        <legend>
            Party Code: <span style="color: #ff0000">{{partyInformation.passcode}}</span> (Share this code with your friends!)
        </legend>
    </div>
    <div class="col-sm-4" style="text-align: right;">
        <img src="qrimg/{{partyInformation._id}}.png" width="40%"/>
    </div>

</div>

<div class="row" ng-show="!noPartyInSession">
    <section class="panel panel-default">
        <header class="panel-heading bg-light">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{'active':partySubSection=='partyPlaylist'}"><a href="" ng-click="changePartyTab('partyPlaylist')"data-toggle="tab">Party Playlist</a></li>
                <li ng-class="{'active':partySubSection=='guestActivity'}"><a href=""  ng-click="changePartyTab('guestActivity')" data-toggle="tab">Guests Activity</a></li>
                <li ng-class="{'active':partySubSection=='searchLibrary'}"><a href=""  ng-click="changePartyTab('searchLibrary')" data-toggle="tab">Add Songs</a></li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content" ng-switch on="partySubSection">
                <div class="tab-pane" ng-class="{'active':partySubSection=='partyPlaylist'}" id="home" ng-switch-when="partyPlaylist">
                    <!--<div ng-include src="'views/partyPlaylist.html'"></div>  -->
                    <h3>Party Songs</h3>
                    <table class="table">
                        <tr>
                            <th># Votes</th>
                            <th>Track</th>
                            <th>Suggested By</th>
                            <th>Vote Up</th>
                        </tr>
                        <tr ng-repeat="track in partyInformation.songList track by $index | orderBy:track.votes:reverse">
                            <td>{{track.votes}}</td>
                            <td>{{track.song.name}} by {{track.song.artist}}</td>
                            <td>{{track.personAdding}} </td>
                            <td> <button type="button" class="btn btn-success" ng-click="voteTrack(track._id)"><i class="fa fa-thumbs-up"></i> </button></td>
                        </tr>
                    </table>


                </div>
                <div class="tab-pane" ng-class="{'active':partySubSection=='guestActivity'}" id="profile" ng-switch-when="guestActivity">
                   <!-- <div ng-include src="'views/partyActivity.html'"></div>   -->
                    <div class="row">
                        <div class="col-sm-offset-1">
                            <h3>Guest Activity</h3>
                        </div>
                        <table class="table table-striped" style="max-height:250px; overflow: auto">
                            <tr ng-repeat="activity in partyActivites">
                                <td>{{activity.activity}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" ng-class="{'active':partySubSection=='searchLibrary'}" id="messages" ng-swutch-when="searchLibrary">
                    <!--<div ng-include src="'views/songLibrary.html'"></div> -->
                    <div class="row" >
                        <div>
                            <h3>Add Song to Party</h3>

                            <div class="form-group">
                                <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
                                    <form ng-submit="runSearch(searchText.text)">
                                        <input type="text" ng-model="searchText.text" class="form-control input-md" placeholder="Search songs, albums, artist eg Davido...">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row" id="addSong" style="overflow: auto!important; max-height:200px; ">
                        <table class="table">
                            <head>
                                <th>Name</th>
                                <th>Artist</th>
                                <th>Genre</th>
                                <th>Add Song</th>
                            </thead>
                            <tr ng-repeat="song in songList">
                                <td>{{song.name}}</td>
                                <td>{{song.artist}}</td>
                                <td>{{song.genre}}</td>
                                <td><button class="button btn btn-success" ng-click="addToPlaylist(song._id)"><i class="fa fa-plus"></i></button></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row" style="text-align: center;" ng-show="noPartyInSession">
              <h3>No Current Party at the moment :(</h3>
</div>