<div class="row">
      <div class="col-sm-8 col-sm-offset-2" style="text-align: center;">
        <h2 class="font-thin m-b ng-scope">
            <i class="fa  fa-music"></i> Join A Party
        </h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Enter a code to join the party</header>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Party Code</label>
                        <input type="text" class="form-control" ng-model="formData.partyCode" required>
                    </div>
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" class="form-control" placeholder="Nicky" ng-model="formData.nickname" required>
                    </div>
                    <a href="/"><button  class="btn btn-lg btn-warning">Cancel</button></a>
                    <button  class="btn btn-lg btn-success pull-right" ng-disabled="!formData.partyCode" ng-click="joinParty()">Join The Party!</button>
                </form>
            </div>
        </section>
    </div>
</div>