<div class="row">
    <div class="col-md-10 col-md-offset-1">
       <h2 style="color:#ff0000">Create Your Party in 3 Easy Steps</h2>
        <legend></legend>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h3>1(a)Click Create your party (The Plus button)</h3>
        <h3>1(b)Pick a name for the party and select a nickname you want...</h3>
        <div class="col-md-8 col-md-offset-2">
             <img src="images/step-1.png" style="width: 100%"/>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h3>2) Add Songs to your playlist!</h3>
        <div class="col-md-8 col-md-offset-2">
            <img src="images/step-2.png" style="width: 100%"/>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <h3>3) Share your party pass-code with friends</h3>
            </div>

</div>