    <h3>Party Songs</h3>
    <table class="table">
        <tr>
            <th># Votes</th>
            <th>Track</th>
            <th>Suggested By</th>
            <th>Vote Up</th>
        </tr>
        <tr ng-repeat="track in partyInformation.songList track by $index | orderBy:track.votes:reverse">
            <td>{{track.votes}}</td>
            <td>{{track.song.name}} by {{track.song.artist}}</td>
            <td>{{track.personAdding}} </td>
            <td> <button type="button" class="btn btn-success" ng-click="voteTrack(track._id)"><i class="fa fa-thumbs-up"></i> </button></td>
        </tr>
    </table>

