<div class="row">
        <div class="col-sm-offset-1">
            <h3>Guest Activity</h3>
        </div>
    <table class="table table-striped">
        <tr ng-repeat="activity in partyActivites">
            <td>{{activity.activity}}</td>
        </tr>
    </table>
</div>