<div class="row" >
        <div>
            <h3>Add Song to Party</h3>

            <div class="form-group">
                <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
                    <form ng-submit="runSearch(searchText.text)">
                        <input type="text" ng-model="searchText.text" class="form-control input-md" placeholder="Search songs, albums, artist eg Davido...">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row" id="addSong" style="overflow: auto!important; max-height:400px; ">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Add Song</th>
            </tr>
            <tr ng-repeat="song in songList">
                <td>{{song.name}}</td>
                <td>{{song.artist}}</td>
                <td>{{song.genre}}</td>
                <td><button class="button btn btn-success" ng-click="addToPlaylist(song._id)"><i class="fa fa-plus"></i></button></td>
            </tr>
        </table>

    </div>